[Unit]
Description=Niello Flatpak Initial Setup (Flathub remote)
After=niello-networking.service
Before=greetd.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
