[Unit]
Description=Niello Flatpak Initial Setup (Flathub remote)
After=local-fs.target network-online.target niello-networking.service
Requires=local-fs.target
Wants=network-online.target
Before=greetd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
